.list-wrapper {
  display: flex;
  width: 50%;
  background-color: #D5E7F4;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.list-name-wrap{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 9px auto;
}

.list-name {
  font-size: 18px;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #94d0fa69;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.list-status-text {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.list-status{
  background-color: #2196F3;
  color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list-status-comp{
  background-color: #4CAF50;
}

.list-tasks-wrap{
  width: 90%;
  display: flex;
  align-items: stretch;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 9px auto;
  flex-direction: column;
}

.list-tasks-button-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.delete-btn:hover {
  color: #E53935  
}

.edit-btn:hover {
  color: blue;  
}